$color-white: #fff;
$color-black: #000;

$color-primary: #156da1;
$color-primary-light: mix($color-white, $color-primary, 25%);
$color-primary-dark: mix($color-black, $color-primary, 25%);

$color-secondary: #ffb900;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-error: #df2323;
$color-error-light: mix($color-white, $color-error, 70%);
$color-error-dark: mix($color-black, $color-error, 25%);

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$text-dark: #333;

// font
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Path to assets
$path--assets: '../../assets';
